.container{
    display: grid;
}

.h3{
    color: red;
    font-size: 30px;
}

.p{
    font-size: 20px;
}

.time{
    font-weight: bold;
    /* flex:auto */
}

.button{
}

.content{
    display: flex;
    flex-direction: column;
}