.article{
    border-radius: 25px;
    border-style: dashed;
    margin: 20px;
    background-color: rgb(143, 140, 140);

}

.temp{
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: auto;
    margin: 10px;
    
}

.list{
    border-radius: 25px;
    border-style: solid;
    border-color: red;
    margin: 20px;
    padding: 10px;
    background-color: rgb(216, 216, 216);
    display: grid;
    /* grid-template-columns: 1fr 5fr; */
    background-image: linear-gradient(to right,rgba(126, 25, 25, 0.452), rgb(216, 216, 216) 20%);
}

@media screen and (min-width: 900px) {
    /* desktop */
    body {
      font-size: 1rem;
    }
    .temp {
      grid-template-areas: "a a a";
    }

  }

@media screen and (max-width: 900px) {
    /* tablet */
    body {
      font-size: 1.5rem;
    }
    .temp {
      grid-template-areas: "a a";
    }

  }

@media screen and (max-width: 500px) {
    /* mobile phone */
    body {
        font-size: 1.5rem;
    }
    .temp {
        grid-template-areas: "a";
    }

}

